@font-face{
  font-family:"karla";
  src:url("assets/fonts/Karla-Regular.ttf");
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"karla";
}
:root{
  --Light-Green: hsl(148, 38%, 91%);
  --Green: hsl(169, 82%, 27%);
  --Dark-Green: hsl(169,82%,15%);
  --Red: hsl(0, 66%, 56%);
  --White: hsl(0, 0%, 100%);
  --Medium-Grey: hsl(186, 15%, 59%);
  --Dark-Grey: hsl(187, 24%, 22%);
}
body {
  width:100%;
  height:100vh;
  display:grid;
  place-items:center;
  background:var(--Light-Green);
}
.toast{
  display:flex;
  flex-direction:column;
  gap:13px;
  color:var(--White);
  background:var(--Dark-Grey);
  padding:20px;
  border-radius:10px;
  position: absolute;
  top:3vw;
  transition:all ease 1s;
}
.toast section{
  display:flex;
  align-items:center;
  gap:12px;
}
.toast.hidden{
   transform:translateY(-200%);
}
main{
  width:75vw;
  height:max-content;
  background:#fff;
  border-radius:20px;
}
h1{
  padding-bottom:10px;
}
.hidden{
  display:none;
}
.container{
  padding:40px;
  color:var(--Dark-Grey);
}
.form-group{
  display:flex;
  flex-direction:column;
  gap:8px;
  padding:10px;
}
.form-group label{
  display:flex;
  gap:5px;
}
label span{
  color:var(--Green);
}
.form-group input{
  height:4vh;
  font-size:2vw;
}
.form-group input,.form-group textarea{
  border-radius:3px;
  border:1px solid var(--Medium-Grey);
  outline:none;
}
.name{
  display:flex;
}
.name .form-group{
  width:50%;
}
.error{
  color:var(--Red);
}
.form-group section{
  display: flex;
  gap: 10px;
  margin: 8px 0;
  flex-direction:column;
}
.rome{
  display:flex;
}
.query{
  border: 1px solid hsl(186, 15%, 59%);
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap:10px;

}
.query:nth-child(1){
  margin-right:10px;
}
.query:nth-child(2){
  margin-left:10px;
}
.check{
  display:flex;
  flex-direction:column;
}
.check section{
  display:flex;
  flex-direction:row;
  align-items: center;
}
input[type=radio],input[type=checkbox]{
  accent-color:var(--Green);
}
.radio-selected{
  background:var(--Green);
}
.submit{
  width:100%;
  padding:15px;
  background:var(--Green);
  border:none;
  outline:none;
  color:var(--White);
}
.submit:hover{
  background:var(--Dark-Green);
}
.attribution { 
  font-size: 11px; 
  text-align: center; }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media (max-width:515px){
  .name{
    display:flex;
    flex-direction:column;
  }
  .name .form-group{
    width:100%;
  }
  .query:nth-child(1){
    margin-right:0px;
    margin-bottom:10px;
  }
  .query:nth-child(2){
    margin-left:0px;
  }
  .rome{
    display:flex;
    flex-direction:column;
  }
  .check label{
    font-size:12px;
    gap:5px;
  }
}
